@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
@import url('normalize.css');

* {
  font-family: "Roboto", sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../images/s1200.png);
  background-attachment: fixed;
  /* background: #e0ffff; */
}

.flex { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}
.wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  background-color: #09C;
  padding: 7px 0;
}
.header-center {
  height: 130px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  background: url(../images/bg-bottom.png) no-repeat center bottom,
              url(../images/bg-table.jpg) no-repeat center;
}
.menu {
  background-color: #09C;
}
.menu--fixed {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
.header-bottom {
  height: 45px;
}
.menu__item {
  position: relative;
  font-size: 16px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #ffffff;
  flex-grow: 2;
  text-align: center;
}
.menu__item:hover {
  background-color: #113255;
}
.menu__item::after {
  position: absolute;
  height: 24px;
  width: 1px;
  background: #ddd;
  right: 0;
  top: calc(50% - 12px);
  /* content: ''; */
}
.menu__item a {
  color: #ffffff;
}
.menu__item--withdrop > span::after {
  display: inline-block;
  position: relative;
  top: -4px;
  margin-left: 15px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  content: '';
}
.menu-drop, .menu-drop2 {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #09C;
  z-index: 2;
  list-style: none;
  top: 100%;
  left: 0;
  width: 200px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
}
.menu-drop__container {
  background: #fff;
  padding: 5px 0 0;
}
.menu-drop2 {
  top: 0;
  left: 100%;
}
.menu__item:hover > .menu-drop {
  opacity: 1;
  visibility: visible;
}
.menu-drop__item {
  position: relative;
}
.menu-drop__item:hover .menu-drop2 {
  opacity: 1;
  visibility: visible;
}
.menu-drop__item a {
  display: block;
  padding: 10px 15px;
  background-color: #09C;
}
.menu-drop__item a:hover {
  background-color: rgb(0, 122, 163);
}
.menu-drop__item--withdrop > a::after {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  margin-left: 15px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(225deg);
  content: '';
}
.title {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
.title strong {
  padding-top: 10px;
  display: block;
  font-size: 28px;
}
.header-top__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-top__wrapper a {
  color: #ffffff;
  display: block;
  font-weight: 500;
}
.header-top__wrapper a:hover {
  text-decoration: underline;
}
.header__mail {
  background: url(../images/mail.svg) no-repeat center left;
  background-size: 17px 17px;
  padding-left: 23px;
  position: relative;
  margin-right: 40px;
}
.header__phone {
  background: url(../images/phone.svg) no-repeat center left;
  background-size: 17px 17px;
  padding-left: 23px;
}
.header__mail::after {
  position: absolute;
  display: inline-block;
  height: 17px;
  top: 2px;
  width: 1px;
  background: #fff;
  content: '';
  margin: 0 20px;
}
.footer {
  height: 200px;
  background-color: #09C;
}
.main__wrapper {
  display: flex;
  align-items: flex-start;
  padding: 30px 20px;
  background: #fff;
}
.sidebar {
  width: 300px;
  flex-shrink: 0;
  margin-left: 30px;
}
.content {
  flex-grow: 2;
  font-size: 16px;
  line-height: 1.6;
}

.sidebar__block {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sidebar__block_title {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 7px;
  text-align: center;
  color: #113255;
  font-size: 16px;
  font-weight: 500;
}
.sidebar__block_content {
  padding: 20px;
}
.search-form {
  position: relative;
}
.input {
  display: block;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 5px;
}
.input:active,
.input:focus {
  border-color: #09c;
}
.search-input {
  width: 100%;
  padding-right: 45px;
}
.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: url(../images/search.svg) no-repeat center, #09c;
  background-size: 20px 20px;
  border: none;
  font-size: 0;
  color: transparent;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
}
.search-submit:hover {
  background-color: rgb(0, 134, 179);
}
.eye-btn {
  padding: 10px;
  border-radius: 5px;
  background: rgb(218, 0, 0);
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.eye-btn:hover {
  background: rgb(190, 0, 0);
}
.eye-btn i {
  display: block;
  width: 45px;
  height: 40px;
  background: url(../images/eye.svg) no-repeat center;
  background-size: contain;
  margin-right: 15px;
}
.eye-btn span {
  display: block;
  /* background: #000; */
}
.photo {
  background: #eee;
  width: 250px;
  height: 320px;
  margin: 0 20px 20px 0;
  float: left;
}
.content p {
  margin: 0 0 15px;
}
.sidebar-comment {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
}
.sidebar-comment:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.sidebar-comment__author {
  color: #113255;
  font-weight: 500;
}
.sidebar-comment__title {
  color: #0099cc;
}
.sidebar-comment a:hover {
  text-decoration: underline;
}

.slider {
margin-top: 20px;
}
.slider__item img {
  height: 300px;
  width: auto;
  display: block;
}

.partners {
  padding: 30px 30px 50px;
  background-color: #ffffff;
}
.partner {
  display: block;
}
.partner__container {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  /* background: #ccc; */
}
.partner__container img {
  display: inline-block;
  height: 70px;
  width: auto;
  margin-bottom: 15px;
}
.partner__container strong {
  display: block;
  color: #0099cc;
  font-weight: 700;
  font-size: 18px;
}
.partner__container:hover strong {
  text-decoration: underline;
}
.partners .slick-arrow {
  background: none;
  position: absolute;
  font-size: 0;
  color: transparent;
  width: 15px;
  height: 15px;
  border: none;
  border-left: 3px solid #09c;
  border-bottom: 3px solid #09c;
  top: calc(50% - 10px);
  border-radius: 2px;
  cursor: pointer;
}
.partners .slick-arrow:hover {
  border-color: #113255;
}
.partners .slick-prev {
  left: 0;
  transform: rotate(45deg);
}
.partners .slick-next {
  right: 0;
  transform: rotate(-135deg);
}